@import './functions';

.bg-gradient-1 {
  background-image: linear-gradient(
    to bottom,
    #64b2f0,
    #5ba8e5,
    #539eda,
    #4a95cf,
    #418bc4
  );
}
.bg-gradient-2 {
  background-image: linear-gradient(
    to bottom,
    #489ada,
    #408fcd,
    #3985c0,
    #317ab3,
    #2970a6
  );
}
.bg-app-primary {
  background: color(blue-2);
}
.bg-dark-blue {
  background: color(dark-blue);
}
.bg-light-blue {
  background: color(light-blue);
}
.bg-red {
  background: color(_red);
}
.bg-grey-200 {
  background: color(grey-200);
}

.bg-grey-300 {
  background: color(grey-300);
}
.bg-black {
  background: color(_black);
}
.text-grey {
  color: color(_grey);
}
.text-grey-200 {
  color: color(grey-200);
}
.text-grey-100 {
  color: color(grey-100);
}
.text-dark-blue {
  color: color(dark-blue);
}
