$colorScheme: (
  grey-100: #929eaa,
  grey-200: #4d5a66,
  grey-300: #3a444d,
  _grey: #e2eaf3a6,
  light: #fff,
  _black: #000000,
  _red: #f56198,
  blue-1: #64b2f0,
  blue-2: #418bc4,
  light-blue: #30cdfb,
  dark-blue: #3b5292,
);

$breakpoints: (
  phone: (
    max-width: 575.98px,
  ),
  tablet: (
    max-width: 767.98px,
  ),
  ipad: (
    max-width: 1023.98px,
  ),
  ipad_pro: (
    max-width: 1399.98px,
  ),
  laptop: (
    max-width: 1400px,
  ),
) !default;
