/********************/
/*** SCSS PARTIALS ***/
/********************/
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Maitree&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Hind', sans-serif;
}

p,
li,
a {
  font-family: 'Maitree', serif;
}

p {
  line-height: 30px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font_18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-60 {
  font-size: 54px !important;
}

.weight-700 {
  font-weight: 700px;
}

.weight-600 {
  font-weight: 600px;
}

.weight-800 {
  font-weight: 800px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-20 {
  line-height: 20px;
}

.text-underline {
  text-decoration: underline;
}

button,
.button {
  padding: 0.37rem 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

button.padding-lg,
.button.padding-lg {
  padding: 0.5rem 2rem;
}

button.padding-sm,
.button.padding-sm {
  padding: 0.3rem 1rem;
}

button.rounded,
.button.rounded {
  border-radius: 20px !important;
}

button.rounded-sm,
.button.rounded-sm {
  border-radius: 5px !important;
}

button.border-default,
.button.border-default {
  border-top: 2px solid #85c2f3;
  border-left: 2px solid #418bc4;
  border-right: 2px solid #418bc4;
  border-bottom: 2px solid #85c2f3;
}

button.border-light,
.button.border-light {
  border-top: 1px solid #69b4f0;
}

input[type='text'],
input[type='email'],
textarea {
  height: calc(3em + 0.8rem + 1px) !important;
  padding: 1.5rem 1.2rem !important;
  outline: none;
  outline-width: 0;
  color: #262d33;
}

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #262d33;
}

input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #262d33;
}

input[type='text']::-ms-input-placeholder,
input[type='email']::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #262d33;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
  color: #262d33;
}

input[type='text']:focus, input[type='text']:active,
input[type='email']:focus,
input[type='email']:active,
textarea:focus,
textarea:active {
  outline: none;
  outline-width: 0;
}

input[type='text'].border-none,
input[type='email'].border-none,
textarea.border-none {
  border: none;
}

input[type='text'].border-grey,
input[type='email'].border-grey,
textarea.border-grey {
  border: 1px solid;
}

input[type='text'].border-default,
input[type='email'].border-default,
textarea.border-default {
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid #4d5a66;
  border-bottom: 2px solid #4d5a66;
}

@media screen and (max-width: 767.98px) {
  input[type='text'],
  input[type='email'],
  textarea {
    font-size: 16px !important;
  }
}

.bg-gradient-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64b2f0), color-stop(#5ba8e5), color-stop(#539eda), color-stop(#4a95cf), to(#418bc4));
  background-image: linear-gradient(to bottom, #64b2f0, #5ba8e5, #539eda, #4a95cf, #418bc4);
}

.bg-gradient-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#489ada), color-stop(#408fcd), color-stop(#3985c0), color-stop(#317ab3), to(#2970a6));
  background-image: linear-gradient(to bottom, #489ada, #408fcd, #3985c0, #317ab3, #2970a6);
}

.bg-app-primary {
  background: #418bc4;
}

.bg-dark-blue {
  background: #3b5292;
}

.bg-light-blue {
  background: #30cdfb;
}

.bg-red {
  background: #f56198;
}

.bg-grey-200 {
  background: #4d5a66;
}

.bg-grey-300 {
  background: #3a444d;
}

.bg-black {
  background: #000000;
}

.text-grey {
  color: #e2eaf3a6;
}

.text-grey-200 {
  color: #4d5a66;
}

.text-grey-100 {
  color: #929eaa;
}

.text-dark-blue {
  color: #3b5292;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/fonts-icomoon.eot");
  src: url("/fonts/fonts-icomoon.eot#iefix") format("embedded-opentype"), url("/fonts/fonts-icomoon.ttf") format("truetype"), url("/fonts/fonts-icomoon.woff") format("woff"), url("/fonts/fonts-icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: '\f10b';
}

.icon-flask:before {
  content: '\e9AA';
}

.icon-settings:before {
  content: '\f085';
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-linkedin:before {
  content: '\f0e1';
}

.icon-dribble:before {
  content: '\f17d';
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

.cursor {
  cursor: pointer;
}

header {
  padding: 1.2rem 10% 0.8rem 10%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 8rem;
  height: auto;
}

header a,
header a:link,
header a:active {
  text-transform: capitalize;
  color: #fff;
  padding: 0.1rem 0.75rem;
  border-radius: 7px;
  text-decoration: none;
}

header a.active,
header a:link.active,
header a:active.active {
  background: #3a444d;
  border: 2px solid #2b3239;
}

header .menu-toggle {
  display: none;
}

@media screen and (max-width: 1023.98px) {
  header .menu-toggle {
    display: block;
  }
}

header .mobile-menu .sidemenu_toggle {
  display: none;
}

@media screen and (max-width: 1023.98px) {
  header .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    left: 30%;
    right: 0;
    padding: 4rem 10%;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    background: rgba(0, 0, 0, 0.9) !important;
    overflow: auto;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  header .mobile-menu .sidemenu-toggle {
    display: block;
    position: absolute;
    top: 1rem !important;
    right: 20% !important;
    bottom: "";
    left: "" !important;
  }
  header .mobile-menu ul {
    display: block !important;
  }
  header .mobile-menu li {
    list-style: none;
    cursor: pointer;
    display: block;
    margin: 2rem 0 1.2rem 0 !important;
  }
  header .mobile-menu li a {
    color: #fff !important;
  }
}

.motion-in {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.banner {
  padding: 2rem 10% 0 10%;
}

.banner .form-area {
  padding-right: 10%;
}

@media screen and (max-width: 1023.98px) {
  .banner .form-area {
    padding-right: 0;
  }
}

.banner .text-area {
  padding-top: 4rem;
}

.banner form {
  border-radius: 3px;
  padding: 3rem 4rem 6rem 4rem;
}

@media screen and (max-width: 1023.98px) {
  .banner form {
    padding: 3rem 2rem 6rem 2rem;
  }
}

.features {
  padding: 5rem 10% 2rem 10%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767.98px) {
  .features {
    display: block !important;
  }
}

.features .feature-item {
  width: 30%;
}

@media screen and (max-width: 1023.98px) {
  .features .feature-item {
    width: 47%;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767.98px) {
  .features .feature-item {
    width: 100%;
  }
}

.features .glyph {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #929eaa;
  color: #929eaa;
  font-size: 45px;
}

footer {
  padding: 0 10% 2rem 10%;
}

footer .glyph {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
}
/*# sourceMappingURL=site.css.map */